<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Baumont.GB800.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Baumont.GB800.Properties.Settings>
            <setting name="SynthOutputDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="AutomationOutputDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="AutomationInputDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="SysexTransmitDelay" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AutomationTable" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DCO1 Range;128</string>
                        <string>DCO1 Wave;128</string>
                        <string>DCO1 Tune;128</string>
                        <string>DCO1 LFO;128</string>
                        <string>DCO1 Env;128</string>
                        <string>DCO2 Range;128</string>
                        <string>DCO2 Wave;128</string>
                        <string>DCO XMOD;128</string>
                        <string>DCO2 Tune;128</string>
                        <string>DCO2 Fine Tune;128</string>
                        <string>DCO2 LFO;128</string>
                        <string>DCO2 Env;128</string>
                        <string>DCO Dynamics;128</string>
                        <string>DCO Env Mode;128</string>
                        <string>Mixer DCO1 Level;128</string>
                        <string>Mixer DCO2 Level;128</string>
                        <string>Mixer Env;128</string>
                        <string>Mixer Dynamics;128</string>
                        <string>Mixer Env Mode;128</string>
                        <string>VCF HPF;128</string>
                        <string>VCF Freq;128</string>
                        <string>VCF Q;128</string>
                        <string>VCF LFO;128</string>
                        <string>VCF Env;128</string>
                        <string>VCF Key;128</string>
                        <string>VCF Dynamics;128</string>
                        <string>VCF Env Mode;128</string>
                        <string>VCA Level;128</string>
                        <string>VCA Dynamics;128</string>
                        <string>VCA Chorus;128</string>
                        <string>LFO Wave;128</string>
                        <string>LFO Delay;128</string>
                        <string>LFO Rate;128</string>
                        <string>EG1 Attack;128</string>
                        <string>EG1 Decay;128</string>
                        <string>EG1 Sustain;128</string>
                        <string>EG1 Release;128</string>
                        <string>EG1 Key;128</string>
                        <string>EG2 Attack;128</string>
                        <string>EG2 Decay;128</string>
                        <string>EG2 Sustain;128</string>
                        <string>EG2 Release;128</string>
                        <string>EG2 Key;128</string>
                        <string>VCA Env Mode;128</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SynthetizerTypeIsJX10" serializeAs="String">
                <value>True</value>
            </setting>
        </Baumont.GB800.Properties.Settings>
    </userSettings>
</configuration>